body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa; /* Color de fondo suave */
    margin: 0;
    background-image: url("../images/wallpaper.jpg"); /* Imagen de contexto */
    background-size: cover;
    background-position: right; /* Imagen alineada a la derecha */
}
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}
.app-name {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}
.login-header {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.logo {
    display: block;
    margin: 0 auto 0px auto;
    width: 120px;
}
.alert-custom {
    background-color: #f8d7da; /* Fondo rojo suave */
    color: #721c24; /* Texto rojo oscuro */
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}
